@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@1,700&display=swap');

.nav-link{
	margin-right: 15px;
	color:#0759c5;
	letter-spacing: 0.5px;
	transition: 0.5s;
}
.navbar-brand{
	color: #0759c5;
	letter-spacing: 0.5px;
}

h2{
	color: #0759c5;
	letter-spacing: 0.5px;
	font-family: raleway;
}
.font{
    font-family: 'Ubuntu', sans-serif;
    font-size: 35px;
}